<div class="container">
    <h1>Todos of various users</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>UserId</th>
                <th>Id</th>
                <th>Title</th>
                <th>Completed</th>
                <th>Edit status/Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos$">
                <td>{{ todo.userId }}</td>
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.completed }}</td>
                <td><button class="btn btn-primary mr-3" (click)="deleteTodo(todo.id)">Delete</button>
                <button class="btn btn-primary mr-3" (click)="updateTodo(todo.id)">Mark as completed</button></td>
            </tr>
        </tbody>
    </table>
    <h3>Enter a new todo</h3>
    <form [formGroup]="form">
        <div class="form-group">
          <label for="userId">User id</label>
          <input type="text" formControlName="userId" class="form-control" name="userId" id="userId">
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" formControlName="title" class="form-control" name="title" id="title">
        </div>
        <button class="btn btn-primary mr-3 mb-5" (click)="postNewTodo()" type="submit">Add new item</button>
    </form>
    <h3>Search for completed todos of an User</h3>
    <input type="text" #filterId (keyup.enter)="viewCompletedTodos(filterId.value)" class="form-control" placeholder="Enter the user Id of the person to view his completed todos and press enter">
    <div *ngIf="visibility">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>Id</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of completedTodos$">
                    <td>{{ todo.userId }}</td>
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.title }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>