/* You can add global styles to this file, and also import other style files */

.loading{
    height: 90%;
    width: 100%;
    font-size: 50px;
    display: flex;
    position: fixed;
    color: darkorchid;
    align-items: center;
    justify-content: center;
}